* { 
  margin: 0; 
  padding: 0; 
}
body { 
  font: 16px Helvetica, Sans-Serif; 
  line-height: 24px; 
  background: #f8f8f8;
  
}
h1 { 
  margin: 0 0 16px 0; 
  padding: 0 0 16px 0; 
  font-size: 42px; 
  font-weight: bold; 
  letter-spacing: -2px; 
  border-bottom: 1px solid #999; 
}
h2 { 
  font-size: 20px; 
  margin: 0 0 6px 0; 
  position: relative; 
  border-bottom: 1px solid #999; 
}
h2 span { 
  position: absolute; 
  bottom: 0; 
  right: 0; 
  font-style: italic; 
  font-family: Georgia, Serif; 
  font-size: 16px; 
  color: #999; 
  font-weight: normal; 
}
p { 
  margin: 0 0 16px 0; 
}
a { 
  color: #999; 
  text-decoration: none; 
  border-bottom: 1px dotted #999; 
}
a:hover { 
  border-bottom-style: solid; 
  color: black; 
}
ul { 
  margin: 0 0 32px 17px; 
}
