* {
  font-family: 'roboto', sans-serif;
}
.fix {
  overflow: hidden;
}
p {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 10pt;
  line-height: 17pt;
}
a {
  color: #ffffff;
}
.clear {
  clear: both;
}
.a1 {
  visibility: visible;
  -webkit-animation-delay: 0.1s;
  -moz-animation-delay: 0.1s;
  animation-delay: 0.1s;
}
.a2 {
  visibility: visible;
  -webkit-animation-delay: 0.2s;
  -moz-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
.a3 {
  visibility: visible;
  -webkit-animation-delay: 0.3s;
  -moz-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
.a4 {
  visibility: visible;
  -webkit-animation-delay: 0.4s;
  -moz-animation-delay: 0.4s;
  animation-delay: 0.4s;
}
.a5 {
  visibility: visible;
  animation-delay: 0.5s;
  -webkit-animation-delay: 0.5s;
  animation-name: fadeIn;
  -webkit-animation-name: fadeIn;
}
h2,
h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}
h2 {
  font-size: 22pt;
  line-height: 37pt;
  margin: 0px;
}
h3 {
  font-size: 16pt;
  line-height: 24pt;
}
h4 {
  font-size: 12pt;
  line-height: 20pt;
  opacity: 1;
}
h5 {
  font-size: 10pt;
  margin: 0px;
  padding: 0px;
  line-height: 15pt;
}
.fa {
  font-size: 22px;
}
body {
  background-color: #eae8e7;
  color: #767270;
  text-align: center;
}
.container {
  margin-top: 24px;
}
.sidebar {
  text-align: left;
  color: #ffffff;
  background-color: #5da4d9;
  overflow: hidden;
  display: block;
}
.sidebar .heading {
  position: relative;
}
.sidebar .heading .feature-img {
  position: relative;
}
.sidebar .heading .feature-img img {
  width: 100%;
}
.sidebar .heading .button-collapse {
  display: block !important;
}
.sidebar .heading .nav-icon {
  position: absolute;
  top: 0;
  padding: 0 16px;
}
.sidebar .heading nav {
  background-color: initial;
  box-shadow: initial;
}
.sidebar .heading nav .button-collapse i {
  height: 30px;
  font-size: 18pt;
  line-height: 24pt;
  background-color: #5da4d9;
  margin-top: 20px;
  padding: 0px 6px;
}
.sidebar .heading nav .side-nav h3 {
  color: #5da4d9;
  padding: 0 15px;
}
.sidebar .heading nav .side-nav li a:hover {
  color: #5da4d9;
}
.sidebar .heading nav .side-nav li:hover {
  background-color: transparent !important;
}
.sidebar .heading .title {
  position: absolute;
  right: 11px;
  bottom: 46px;
}
.sidebar .heading .title span {
  margin-top: -5px;
  font-size: 10pt;
  margin: 0px;
  padding: 0px;
  line-height: 15pt;
}
.sidebar .icon {
  margin-top: 8px;
}
.sidebar .icon .fa {
  display: inherit;
  text-align: center;
}
.sidebar .sidebar-item {
  overflow: hidden;
  margin-top: 10px;
}
.sidebar .sidebar-item:first-child {
  margin-top: 30px;
}
.sidebar .section-item-details {
  padding-right: 26px;
  margin-bottom: 30px;
}
.sidebar .section-item-details p {
  margin: 0px;
}
.sidebar .info {
  border-bottom: 1px solid #4783c2;
  padding-left: 0px;
}
.sidebar .info span {
  opacity: 0.7;
  font-weight: 300;
}
.sidebar .personal {
  margin-bottom: 20px;
}
.sidebar .personal h4,h3 {
  margin: 0px;
}
.sidebar .skill-line {
  padding-right: 30px;
  padding-left: 0px;
}
.sidebar .skill-line .progress {
  background-color: #4783c2;
  height: 2px;
  overflow: visible;
}
.sidebar .skill-line .determinate {
  background-color: #ffffff;
}
.sidebar .skill-line .determinate .fa {
  font-size: 12px;
  position: absolute;
  top: -5px;
  right: 0px;
  margin-left: 50%;
}
.sidebar .skill-line h3 {
  margin-top: 0px;
  margin-bottom: 20px;
}
.sidebar .skill-line span {
  opacity: initial;
}
#section {
  overflow: hidden;
}
.section {
  padding-left: 32px !important;
  text-align: left;
}
.section .fa {
  text-align: center;
  display: block;
  font-size: 30pt;
}
.section .section-wrapper {
  background-color: #ffffff;
  overflow: hidden;
  margin-bottom: 24px;
  padding-bottom: 24px !important;
}
.section .section-wrapper .section-icon {
  margin-top: 40px;
}
.section .section-wrapper h2 {
  margin-top: 30px;
  margin-bottom: 25px;
}
.custom-content {
  padding-right: 0px !important;
}
.custom-content-wrapper {
  padding-right: 30px;
  padding-bottom: 25px;
  margin-bottom: 25px;
  border-bottom: 1px solid #bdbdbd;
}
.custom-content-wrapper:last-child {
  border-bottom: initial;
}
.custom-content-wrapper h3 {
  margin: 0px;
  font-size: 12pt;
  line-height: 20pt;
}
.custom-content-wrapper h3 span {
  color: #767270;
}
.custom-content-wrapper span {
  color: #5da4d9;
  margin-top: 0px;
  font-size: 10pt;
  line-height: 15pt;
}
.custom-content-wrapper p {
  margin-top: 0px;
}
/* Smartphones (landscape) */
@media only screen and (min-width: 321px) and (max-device-width: 568px) {
  .container {
    width: 100% !important;
  }
  .sidebar .sidebar-item .info {
    margin-top: 20px;
  }
  .sidebar .sidebar-item .icon {
    margin-top: 20px;
  }
  .sidebar .skill-line span {
    text-align: left;
    display: block;
  }
  .sidebar .skill-line h3 {
    margin-bottom: 50px;
  }
  .section {
    padding: 0px !important;
    text-align: center;
    margin-top: 30px;
    padding: 0px 22px;
  }
  .section h4 {
    margin-bottom: 10px;
  }
  .section .custom-content-wrapper p {
    padding: 15px;
  }
  .section .section-wrapper h2 {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .interests {
    margin-bottom: 10px;
  }
  .interests ul li {
    padding: 10px 15px;
    margin-right: initial;
  }
}
/* Smartphones (portrait) */
@media only screen and (max-width: 320px) {
  .container {
    width: 100% !important;
  }
  .sidebar .nav-icon {
    top: 0;
  }
  .sidebar .button-collapse {
    margin-left: 0px;
  }
  .sidebar-item .info {
    margin-top: 20px;
  }
  .skill-line span {
    text-align: left;
    display: block;
  }
  .skill-line h3 {
    margin-bottom: 50px;
  }
  .section {
    padding: 0px !important;
    margin-top: 30px;
    padding: 0px 22px;
  }
  .section h4 {
    line-height: 24px;
    margin-bottom: 10px;
  }
  .section .custom-content-wrapper p {
    padding: 15px;
  }
  .interests {
    margin-top: 20px;
    margin-bottom: 10px;
  }
  .interests ul li .fa {
    text-align: center;
  }
}
/* iPads (landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  .sidebar .icon {
    margin-bottom: 15px;
  }
  .sidebar .nav-icon {
    top: 0px;
  }
  .section {
    text-align: left;
    padding-right: 0px !important;
    padding-left: 24px !important;
  }
  .section .education-details p {
    margin-top: 5px;
    padding-top: 0px;
  }
}
/* iPads (portrait) */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  body {
    text-align: center;
  }
  .container {
    width: 100% !important;
  }
  .sidebar .nav-icon {
    top: 130px;
  }
  .sidebar .sidebar-item {
    overflow: hidden;
  }
  .sidebar .icon {
    margin: 30px 0;
  }
  .sidebar .button-collapse {
    margin-left: 6px;
  }
  .sidebar .skill-line span {
    text-align: left;
    display: block;
  }
  .sidebar .skill-line h3 {
    margin-bottom: 20px;
  }
  .section {
    padding: 0px !important;
    margin-top: 30px;
    padding: 0px 22px;
    text-align: center;
  }
  .section .custom-content-wrapper p {
    margin-top: 5px;
    padding: 0px 20px;
  }
  .interests {
    margin-top: 20px;
    margin-bottom: 10px;
  }
}
/* tab portrait and down   */
@media only screen and (max-width: 992px) {
  .container {
    width: 100% !important;
    margin-top: 0px !important;
  }
  .row {
    overflow-x: hidden !important;
  }
  .button-collapse i {
    margin-left: 20px;
  }
  .sidebar {
    text-align: center;
  }
  .sidebar .sidebar-item {
    padding: 0px 30px;
  }
  .sidebar .section-item-details {
    padding: 0 20px;
  }
  .sidebar .icon {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .sidebar .info {
    padding-left: 15px;
  }
  .sidebar .skill-line {
    margin-right: 0px !important;
    padding: 20px;
  }
  .sidebar .skill-line span {
    text-align: left;
    display: block;
  }
  .section {
    text-align: center;
    margin-top: 30px;
    padding: 0px !important;
  }
  .section .section-details {
    margin-right: 0px;
  }
  .section .section-details h2 {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .section .custom-content-wrapper {
    padding: 0px 0px 25px 0px;
    padding-bottom: 25px;
  }
  .section .custom-content-wrapper p {
    margin-top: 10px;
    padding: 0 20px;
  }
  .section .custom-content {
    padding: 0 10px !important;
  }
  .section .custom-content,
  .section .blog-post {
    margin: 0px 30px;
  }
  .cover-latter {
    text-align: left;
    margin-right: 0px;
  }
  .refarances {
    padding: 20px 10px 10px;
  }
  .interests ul li .fa {
    text-align: center;
  }
  .post-details p {
    padding: 0 30px;
  }
  #contact {
    padding: 0px 40px;
  }
  #form-submit {
    width: 100%;
  }
  .comment {
    padding: 0 40px !important;
  }
  .comment-form {
    padding: 0 50px !important;
  }
  .comment-form .input-field:last-child {
    padding-left: 0;
  }
  .comment-form .btn {
    width: 100%;
  }
  .comment-img img {
    width: 100px;
  }
  .comment-details {
    padding: 20px;
  }
  .project-description {
    padding: 0 20px;
  }
}
/* iphone 6 (portrait and landscape)  */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) {
  body {
    text-align: center;
  }
  .sidebar .sidebar-item {
    margin-top: 0px;
  }
  .skill-line span {
    text-align: left;
    display: block;
  }
}

