#page-wrap { 
  width: 800px; 
  margin: auto;
  background: url(/images/background.png); 
  padding: 40px;
  border-left: 1px solid #999;
  border-right: 1px solid #999;
}
#objective { 
  width: 500px; 
  float: left; 
}
#objective p { 
  font-family: Georgia, Serif; 
  font-style: italic; 
  color: #666; 
}